---
import Logo from "@components/astro/Logo/Logo.astro";
import Facebook from "@components/astro/icons/facebook.astro";
import Instagram from "@components/astro/icons/instagram.astro";
import Linkedin from "@components/astro/icons/linkedin.astro";
import Youtube from "@components/astro/icons/youtube.astro";
---

<footer
  class="bg-black text-white px-10 lg:px-20 py-10 flex flex-col lg:flex-row"
>
  <aside class="w-2/5">
    <Logo behaviour="white-bg-logo" />
  </aside>

  <section
    class="3/5 mt-6 lg:mt-0 grid md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-14"
  >
    <div>
      <h3 class="font-oswald uppercase text-lg mb-3">Explore</h3>
      <ul class="text-zinc-200 lg:leading-7">
        <li>
          <a href="#" class="text-sm text-inherit">About transform</a>
        </li>
        <li>
          <a href="#" class="text-sm text-inherit">Meet the team</a>
        </li>
        <li>
          <a href="#" class="text-sm text-inherit">Teach with transform</a>
        </li>
      </ul>
    </div>

    <div class="flex flex-col gap-4 text-zinc-200">
      <div>
        <h3 class="font-oswald uppercase text-lg mb-3">Contact/Submit</h3>
        <p class="text-sm text-inherit">We love collaborating!</p>
        <p class="text-sm text-inherit">
          Write to us from <a href="#">here</a>
        </p>
      </div>

      <div class="flex items-center gap-2 text-zinc-200">
        <h3 class="font-oswald uppercase text-lg inline">Support:</h3>
        <a href="#" class="text-sm text-inherit">Buy us a coffee</a>
      </div>
    </div>

    <div class="mt-4 lg:mt-0">
      <ul class="flex gap-2 text-black">
        <li>
          <a href="#" class="bg-black text-white inline-block w-8 lg:w-10 p-1">
            <Facebook />
          </a>
        </li>

        <li>
          <a href="#" class="bg-black text-white inline-block w-8 lg:w-10 p-1">
            <Instagram />
          </a>
        </li>

        <li>
          <a href="#" class="bg-black text-white inline-block w-8 lg:w-10 p-1">
            <Linkedin />
          </a>
        </li>

        <li>
          <a href="#" class="bg-black text-white inline-block w-8 lg:w-10 p-1">
            <Youtube />
          </a>
        </li>
      </ul>
    </div>
  </section>
</footer>
