---
type Props = {
  className?: string;
  headerOffset?: boolean;
};
---

<div
  class:list={[
    "flex flex-col justify-center",
    Astro.props.className ?? "",
    {
      "lg:min-h-[calc(100svh-84px)] ": !!Astro.props.headerOffset,
      "lg:min-h-[100svh]": !Astro.props.headerOffset,
    },
  ]}
>
  <section class="max-w-6xl mx-auto lg:w-full lg:h-full p-6">
    <slot />
  </section>
</div>
