---
import ThemeToggle from "@components/astro/ThemeToggle.astro";
import Logo from "./Logo/Logo.astro";
import { type PreSelectedSlugsProp } from "./Sidebars.astro";
import { DesktopHeaderNav } from "@components/react/HeaderNav/DesktopHeaderNav";
import { MobileHeaderNav } from "@components/react/HeaderNav/MobileHeaderNav";
import { Search } from "@components/react/Search";

type Props = {
  openKnowledgeSidebarByDefault?: boolean;
} & PreSelectedSlugsProp;
---

<header class="flex items-center bg-black p-5 px-3 lg:px-20 font-oswald">
  <div class="flex items-center gap-2">
    <MobileHeaderNav client:idle />
    <div class="mr-3">
      <Logo behaviour="white-bg-logo" />
    </div>
  </div>

  <div class="ml-auto flex gap-14 items-center">
    <div class="flex gap-0">
      <DesktopHeaderNav client:idle />
      <div class="hidden lg:flex items-center">
        <Search client:idle />
      </div>
    </div>

    <div class="flex items-center gap-3">
      <div class="block lg:hidden translate-y-1">
        <Search client:idle />
      </div>
      <ThemeToggle />
    </div>
  </div>
</header>
