---
import ThemeToggle from "@components/astro/ThemeToggle.astro";
import Logo from "./Logo/Logo.astro";
import { type PreSelectedSlugsProp } from "./KnowledgeSidebar.astro";
import { DesktopHeaderNav } from "@components/react/HeaderNav/DesktopHeaderNav";
import { MobileHeaderNav } from "@components/react/HeaderNav/MobileHeaderNav";

type Props = {
  openKnowledgeSidebarByDefault?: boolean;
} & PreSelectedSlugsProp;
---

<header class="flex items-center bg-black p-5 px-3 lg:px-20 font-oswald">
  <div class="flex items-center gap-2">
    <MobileHeaderNav client:idle />
    <Logo behaviour="white-bg-logo" />
  </div>

  <div class="ml-auto flex gap-10 items-center">
    <DesktopHeaderNav client:idle />
    <ThemeToggle />
  </div>
</header>
