---
import ThemeToggle from "@components/astro/ThemeToggle.astro";
import Logo from "./Logo.astro";
import Knowledge from "./Knowledge.astro";
---

<header class="p-2 flex items-center">
  <Knowledge />
  <Logo />

  <div class="ml-auto text-gray-700">
    <ThemeToggle />
  </div>
</header>
