---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<div
  class="prose"
  class:list={[
    {
      [className ?? ""]: !!className,
    },
  ]}
>
  <slot />
</div>
