---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/astro/Header.astro";
---

<BaseLayout title="Transform" description="Transform tool">
  <!-- class="p-6 py-4 lg:p-10" -->
  <main>
    <Header openKnowledgeSidebarByDefault />
  </main>
</BaseLayout>
