---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroSvg from "./_internal/HeroSvg.astro";
import ContactForm from "./_internal/ContactForm.astro";
import Socials from "@components/Socials.astro";
import { actions } from "astro:actions";
import { isInputError } from "astro:actions";
import type { SubmitType } from "./_internal/select-options";

export const prerender = false;

const result = Astro.getActionResult(actions.submitContactForm);
const inputErrors = isInputError(result?.error) ? result.error.fields : {};

export type ContactFormInputErrors = typeof inputErrors;

if (result && !result.error) {
  const searchParams = new URLSearchParams();
  searchParams.set("success", "true");

  if (result.data.input?.contactSubmitType) {
    searchParams.set("type", result.data.input.contactSubmitType);
  }

  if (
    result.data.input?.identityGroup &&
    result.data.input?.violenceSubCategory
  ) {
    searchParams.set("identityGroup", result.data.input.identityGroup);
    searchParams.set(
      "violenceSubCategory",
      result.data.input.violenceSubCategory,
    );
  }

  const queryString = searchParams.toString();
  return Astro.redirect(`/contact-submit?${queryString}`);
}

const isSuccessFormSubmission =
  Astro.url.searchParams.get("success") === "true";
const type = Astro.url.searchParams.get("type") as SubmitType;
const identityGroup = Astro.url.searchParams.get("identityGroup");
const violenceSubCategory = Astro.url.searchParams.get("violenceSubCategory");
---

<BaseLayout
  title="Contact Submit To Transform"
  description="Contact Submit To Transform"
>
  {
    isSuccessFormSubmission ? (
      <p class="bg-green-600 text-white p-2 text-center">
        <span>Your message has been submitted.</span>

        {type === "contribute" ? (
          <span>
            After it's accepted by our moderators, it'll show on the lived
            experiences section of{" "}
            <a
              href={`/transform/${identityGroup}-${violenceSubCategory}`}
              class="underline"
            >
              this page
            </a>
          </span>
        ) : null}
      </p>
    ) : null
  }

  <main class="max-w-5xl mx-auto py-6 px-6 lg:py-20">
    <div class="flex flex-col lg:flex-row gap-10 justify-center">
      <div class="w-full lg:w-[489px] lg:h-[138px] flex-shrink-0">
        <HeroSvg />
      </div>

      <p class="text-zinc-800 dark:text-zinc-200 max-w-[500px] leading-7">
        Transform relies on your feedback, appraisal and contribution! Our work
        needs to be updated constantly and we are eager to work with members of
        our community to improve and expand on this tool.
      </p>
    </div>

    <div>
      <div class="mt-6 lg:mt-14">
        <h1
          class="text-4xl lg:text-5xl font-oswald mb-6 flex flex-wrap dark:text-zinc-200 justify-center"
        >
          <span class="font-semibold">Write to us/</span>
          <span class="italic">Contribute</span>
        </h1>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row gap-4 lg:mt-10 justify-between">
      <div class="lg:w-1/2 flex flex-col gap-3">
        <p class="text-zinc-600 dark:text-zinc-300 leading-7">
          Want to share a personal experience of violence with us (either
          anonymously or non anonymously?)
        </p>

        <p class="text-zinc-600 dark:text-zinc-300 leading-7">
          Think some of our content is in dire need of an update? Know of some
          useful links and resources for us to feature, especially those in
          South Asian Vernacular Languages?
        </p>

        <p class="text-zinc-600 dark:text-zinc-300 leading-7">
          Want to add some grounding techniques that REALLY work for you to the
          Trigger Toolkit? Have a cute floof at home whose videos might help
          Transform’s viewers?
        </p>

        <p class="text-zinc-600 dark:text-zinc-300 leading-7">
          Have some anxiety and stress alleviating song recommendations or just
          some nice bops?
        </p>

        <p class="text-zinc-600 dark:text-zinc-300 leading-7">Let us know.</p>

        <div class="mt-4 flex flex-col gap-2">
          <h2 class="font-oswald text-medium text-xl text-yellow-transform">
            BUY US A KO-FI
          </h2>

          <p class="text-zinc-600 dark:text-zinc-300 leading-7">
            Like everything else, Trans/form needs your support (read: money) to
            run and pay all its contributors. Support our work by buying us a
            ko-fi.
          </p>
        </div>

        <div class="mt-4 flex flex-col gap-3">
          <h2
            class="font-oswald text-medium text-xl text-yellow-transform uppercase"
          >
            Follow us (please?)
          </h2>

          <div class="dark:hidden">
            <Socials type="blackOnWhite" />
          </div>

          <div class="hidden dark:block">
            <Socials type="whiteOnBlack" darkBgClass="bg-zinc-800" />
          </div>
        </div>
      </div>

      <!-- <div
        class="border-[1px] border-zinc-300 self-stretch mx-10 -my-2 hidden lg:block"
      >
      </div> -->

      <div class="mt-6 lg:mt-0 w-full lg:w-1/2 flex justify-end">
        <ContactForm inputErrors={inputErrors} />
      </div>
    </div>
  </main>
</BaseLayout>
